<h2> Film Roulette</h2>

<a class="btn" href="/filmroulette/films">Film Archive</a>
<br>
<br>
<form action="/filmroulette/spin" method="GET">
  <label>Press button to spin the roulette</label>
  <button class="btn" type="submit">Spin!</button>
</form>
<% if (locals.errorMessage != null) {%>
  <div class="error-message">
    <%=errorMessage  %>
  </div> 
<% } %>

<h4>Films that are currently not watched</h3>


  <% allFilms.forEach(film => { %>
    <div class="film-row">
      <div class="film-title"> <%= film.title %></div>
      <div >
        <a class="btn btn-info" href="/films/<%= film.id%>">View Info</a>
      </div>
    </div>

  <% }) %>


<%- include('../partials/userInfo.ejs') %>

