<h2> Film Roulette</h2>

<p>Hi and welcome to the Film Roulette. If this is your first time here, please <a href="/filmroulette/register">register</a> to continue. </p>


<form action="login" method="POST">
  <div class="form-row-login">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>
  <div class="form-row-login">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <% if (messages.error) { %>
    <div class="error-message">
      <%= messages.error %>
    </div>
  <% } %>
  <button class="btn form-btn" type="submit">Login</button>
</form>

