<h2>Spin results</h2>

<div> Selected film: </div>
<div> <%= choosenFilm.title %></div>

<div><a href="/filmroulette/watch/<%= choosenFilm.id%>">Watch!</a></div>

<form action="/filmroulette/spin" method="GET">
  <button type="submit">Retry!</button>
</form>

<%- include('../partials/userInfo.ejs') %>