<h2>Spin results</h2>

<div class="film-selected"> <%= choosenFilm.title %></div>

<div class="btn-row">
  <a class="btn" href="/filmroulette/watch/<%= choosenFilm.id%>">Watch!</a>
  <form action="/filmroulette/spin" method="GET">
    <button class="btn" type="submit">Spin again?</button>
  </form>
</div>


<%- include('../partials/userInfo.ejs') %>