<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Main Page</a>
    <ul>
      <li><a href="/filmroulette">Project Film Roulette</a></li>
      <li><a href="">Placeholder: Project API Integration</a></li>
    </ul>
    <%- include('../partials/logoutForm.ejs') %>
  </nav>
</header>