<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Main Page</a>
    <ul>
      <li><a href="/films">Films</a></li>
      <li><a href="/filmroulette">Film Roulette</a></li>
    </ul>
  </nav>
</header>