<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Home</a>
    <ul>
      <li><a href="/filmroulette">Project Film Roulette</a></li>
      <li><a href="">Placeholder: Project API Integration</a></li>
    </ul>
  </nav>
</header>