.btn {
  border: 1px solid black;
  background-color: #d8c9fa; 
  color: black; 
  border-radius: .5rem;
  padding: .2rem 0.7rem;
  font-family: 'Fjalla';
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-row {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.btn-row > *{
  margin-left: 1rem;
}
.btn-row > *:first-child{
  margin-left: 0;
}

.btn-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-column-element {
  margin-top: 20px;
}

.btn:hover {
  background-color: #fdbf69;
}

.btn-info {
  margin: 2em;
  font-size: 0.7rem;
}

