.film-grid {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.film-details-overview {
  display: flex;
}

.film-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.film-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  gap: 1rem;
  grid-template-columns: auto auto;
}

.film-list {
  padding: 0;
}

.film-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.film-title {
  margin: 0;
  font-size: 1rem;
}

.film-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.film-selected {
  margin: 20px;
  font-size: 150%;
}