.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 300px; 
  margin-right: 10px;
}

.form-row input {
  width: 150px; 
}

.form-row-end {
  justify-content: flex-end;
}

.form-row-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-row-login label {
  width: 130px; 
  margin-right: 10px;
}

.form-row-login input {
  width: 150px; 
}

.form-btn {
  margin-top: 15px;
  margin-left: 140px;
}