<h1>Film Roulette</h1>

<p>Hi and welcome to the film roulette. Please log in or register to continue</p>
<div>
  <a href="users/login">Login</a>
</div>
<div>
  <a href="users/register">Register</a>
</div>

<!-- <form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log out</button>
</form> -->