<h1>Film Roulette</h1>

<p>Hi and welcome to the film roulette. If this is your first time here, please register to continue. </p>
<div>
  <a href="users/login">Login</a>
</div>
<div>
  <a href="users/register">Register</a>
</div>

<h4>Showing all users currently registered for test purposes - DELETE BEFORE RELEASE</h4>
<ul>
  <% allUsers.forEach(user => { %>
    <li> <%= user.displayname %></li>
    <a href="/users/<%= user.id%>">View</a>
    <%- include('../partials/deleteForm.ejs', { url: `/users/${user.id}`}) %>
  <% }) %>
</ul>