<h2>User Details</h2>
<div>
  <div>ID: </div>
  <div><%= user.id %></div>
</div>
<div>
  <div>Display Name: </div>
  <div><%= user.displayname %></div>
</div>
<div>
  <div>Username: </div>
  <div><%= user.username %></div>
</div>
<div>
  <div>Password: </div>
  <div><%= user.password %></div>
</div>

<div>
  <a href="/users/">Return to overview</a>
</div>