<h2>Film Archive</h2>

<div>
  <a href="/films/new">Add new Film</a>
</div>
<div>
  <a href="/films">See your Films</a>
</div>

<h3>Search Films</h3>
<form action="/films" method="GET">
  <label>Title</label>
  <input type="text" name="title" value="<%= searchOptions.title %>">
  <button type="submit">Search</button>
</form>

<% films.forEach(film => { %>
  <div><%= film.title %></div>
  <div>
    <a href="/films/<%= film.id%>">View</a>
  </div>
  <div>
    <form action="/films/add/<%= film.id%>" method="POST">
      <button type="submit">Add to your Archive</button>
    </form>
  </div>
<% }) %>