<h2>Add new film</h2>
<form action="/films" method="POST">
  <%- include('_form_fields') %>
  <a href="/films">Cancel</a>
  <button type="submit">Add</button>  
</form>


<%- include('../partials/userInfo.ejs') %>