<h2>Add new film</h2>
<form action="/films" method="POST">
  <%- include('_form_fields') %>
  <div class="btn-row">
    <a class="btn" href="/films">Cancel</a>
    <button class="btn" type="submit">Add</button>  
  </div>
</form>


<%- include('../partials/userInfo.ejs') %>